<div class="card text-primary">
        <div class="card-header"><%=post.title%></div>
        <div class="card-body">
            <p class="card-text">
                <%=post.text%>
            </p>
        </div>
        <div class="counter">
            <p>
                Comments: <%=post.comments_counter%>
                Likes: <%=post.likes_counter%>
            </p>
        </div>
    </div>