<div class="user-container">
    <div class="wrapper">
      <div class="user-img">
        <img src=<%=user.photo%> class="user-pic" alt=<%=user.name%> height="145" width="145">
      </div>
      <div class="user-details">
          <div class="user-name">
              <h2 class="well">
                  <%=user.name%>
              </h2>
          </div>
          <div class="user-posts">
              <p>Number of posts:
                  <%=user.posts_counter%>
              </p>
          </div>
      <div>
    </div>
</div>
