<div class="row mt-4">
      <div class="col-4 d-flex">
        <img src=<%=@user.photo%> class="user-pic" alt=<%=@user.name%> height="145" width="145">
      </div>
      <div class="card col-7">
          <div class="col-6">
              <h2 class="well">
                  <%=@user.name%>
              </h2>
          </div>
          <div class="col-6">
              <p>Number of posts:
                  <%=@user.posts_counter%>
              </p>
          </div>
      <div>
</div>
