<section>
<%=@post.errors.map{|error| error.full_message}%>
  <h2 class="ms-4 mt-4 d-flex justify-content-center">Add New Comment</h2>
    <%=form_with url:user_post_comments_path,model:@comment,local: true, data:{turbo:false},class:'container w-50' do |f|%>
    <%=render 'components/commentForm',form:f%>
  <%end%>
</div>