<div class="container">
    <%@users.each do |user|%>
    <div class="user-group">
        <%=link_to user_path(id:user.id) ,class:'' do%>
          <%=render 'components/user', user: user%>
        <%end%>
    </div>
    <% end %>
</div>