<section class="container">
    <%=render 'components/postShow',post:@post%>
    <%=render 'components/comments',comments:@comments%>
    <div class='d-flex justify-content-around p-3'>
    <%=link_to 'Edit post', edit_user_post_path(@post),class:'btn btn-primary align-self-start'%>
    <%= link_to "Comment",  new_user_post_comment_path(post_id:@post.id),class:'btn btn-primary align-self-start'%>
    </div>
</section>